
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.button {
    font-size: 18px;
}

.container {
    margin: 15px;
    border-style: solid;
    border-color: chocolate;
    background-color: hsla(16, 100%, 66%, 0.585);
    height: 500px;
    width: 500px;
}

.rowcon {
    display: flex;
    background-color:aquamarine; 
}

.rowdivs {     
    background-color: rgb(255, 127, 80);
    display: flex;
    filter: brightness(1);
    
}