
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

}


.container {
    border-style: solid;
    border-color: chocolate;
    height: 1000px;
    width: 1000px;
}


.content {
    padding: 2px;
    background-color:cornflowerblue;
    display: flex;
    height: 100px;
    flex-grow: 1;
  
}

.rowcon {
    display: flex;
    height: 100px;
    
    background-color:aquamarine;
    margin: 2px;
 
}

.rowdivs {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-color:darkgoldenrod;
    display: flex;
}




.subdivrow {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-color:darkgoldenrod;
    display: flex;

}


