
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.button {
    font-size: 18px;
}

.container {
    margin: 15px;
    border-style: solid;
    border-color: chocolate;
    height: 500px;
    width: 500px;
}

.rowcon {
    display: flex;
    background-color:aquamarine; 
}

.rowdivs {     
    background-color: coral; 
    display: flex;
}